body {
  font-family: 'Lora', sans-serif;
  color: #333;
  line-height: 1.3;
}

.recipe {
  margin: 1em;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
}

.recipe-description {
  font-style: italic;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #666;
  font-style: italic;
}

.recipe-source-link {
  font-size: 0.9em;
  margin-bottom: 1.2em;
}

.recipe-metadata {
  border-top: thin solid #ccc;
  border-bottom: thin solid #ccc;
  overflow: auto;
  margin-bottom: 1.5em;
}

.recipe-metadata div {
  float: left;
  padding: .4em;
  margin: .4em 0;
  border-right: thin solid #ccc;
}

.recipe-metadata div:last-child {
  border: none;
}

.ingredients li {
  margin-bottom: 0.4em;
  font-size: 1.2em;
}

.instructions li {
  margin-bottom: 0.4em;
  font-size: 1.2em;
}

@media (min-width: 800px) {
  .ingredients {
    float: left;
    width: 33%;
  }
  
  .instructions {
    float: right;
    width: 65%;
  }
}

@media (min-width: 600px) {
  .recipe-metadata div {
    padding: .4em 1em;
  }
}

@media (min-width: 1200px) {
  .ingredients {
    float: left;
    width: 400px;
  }
  
  .instructions {
    float: left;
  }
}

.recipe-description-metadata {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.recipe-description {
  flex: 1;
}

.recipe-metadata {
  margin-left: 100px;
  white-space: nowrap;
}

@media (max-width: 700px) {
  .recipe-description-metadata { 
    display: block;
  }
  
  .recipe-metadata {
    margin-to: 10px;
    margin-left: 0; 
  }
}
