---
layout: default
---
    <div class="recipe" itemscope itemtype="https://schema.org/Recipe">
      <h1 class="recipe-name" itemprop="name">{{ page.title }}</h1>
      <div class="recipe-description-metadata">
        <div class="recipe-description" itemprop="description">
          {{ page.description }}
          <div class="recipe-source-link"><a href="http://www.onceuponachef.com/2009/08/best-breakfast-pancakes.html">Source</a></div>
        </div>
        <div class="recipe-metadata">
          <div class="scaling-component" ><span class="metadata-title">Scale:</span> <span id="scaler">1</span></div>
          {% if page.yields
            %}<div class="serving-amount-component"><span class="metadata-title">Yields:</span> <span id="serving-amount" itemprop="recipeYield">{{ page.yields }}</span></div>{%
               elsif page.serves
          %}<div class="serving-amount-component"><span class="metadata-title">Serves:</span> <span id="serving-amount" itemprop="recipeYield">{{ page.serves }}</span></div>{% 
            endif %}
          {% if page.prep_time %}<div class="prep-time-component"><span class="metadata-title">Prep Time:</span> <span itemprop="prepTime">{{ page.prep_time }}</span></div>{% endif %}
          {% if page.cook_time %}<div class="cook-time-component"><span class="metadata-title">Cook Time:</span> <span  itemprop="cookTime">{{ page.cook_time }}</span></div>{% endif %}
        </div>
      </div>
      <div class="content-wrapper">
        <div class="ingredients">
          <h2>Ingredients</h2>
          <ul id="ingredients">
            {% for ingredient in page.ingredients %}
            <li itemprop="ingredients">{{ ingredient }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="separator"></div>
        <div class="instructions" id="instructions" itemprop="recipeInstructions">
          <h2>Instructions</h2>
          <ol>
            {% for instruction in page.instructions %}
            <li>{{ instruction }}</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
